@font-face {
  font-family:myHaasReg;
  src:url(resources/NHaasGroteskTXPro-55Rg.otf);
}
@font-face {
  font-family:myHaasLit;
  src:url(resources/NHaasGroteskDSPro-45Lt.otf);
}

body{
  background-image:url("resources/transparency.png");
  background-repeat: repeat;
  /* background:#bababa; */
  padding:0;
  margin:0
}
#generatorInput{
  background:#00f;
  border:#fff solid 1px;
  margin-left:10px;
  margin-top:10px
}
canvas{
  padding:0;
  margin:auto;
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:-1
}
.collapsible{
  /* background-image:linear-gradient(180deg,#00f,#00f,#000035,#f1f1f1); */
  background:#0000ff;
  cursor:pointer;
  padding:5px;
  width:200px;
  text-align:left;
  font-size:12px;
  border:0;
  border-bottom: 2px solid #ffffff;
  height:45px;
}

.collapsible img{
  width:190px;
}

.active,.collapsible:hover{
  background-color:#00f
}
.content{
  display:none;
  overflow:hidden;
  padding-bottom:5px;
  width:200px;
  border-bottom: 2px solid #ffffff;
  
}
.coupling_label2{
  width:60px;
  padding-left:5px;
  padding-top:3px
}
.collapsible:after{
  margin-top:-25px;
  font-size:13px;
  color:#fff;
  float:right
}
button.collapsible.active{
  border:0;
}
input[type=text]{
  width:180px;
  height:27px;
  margin-left:0px;
}
input[type=range]{
  margin-top:0;
  width:120px
}
select {
  width:190px;
  margin:5px;
}
#generatorInput{
  position:absolute;
  display:flex;
  flex-direction:column
}
h1{
  /* font-family:'IBM Plex Mono',monospace; */
  font-family: myHaasReg, Helvetica, sans-serif;
  color:#fff;
  font-size:18px;
  margin:0;
  margin-left:5px;
}
h2{
  /* font-family:'IBM Plex Mono',monospace; */
  font-family: myHaasReg, Helvetica, sans-serif;
  font-size:18px;
  text-align:center;
  color:#fff;
  margin:5px
}
h3{
  /* font-family:'IBM Plex Mono',monospace; */
  font-family: myHaasLit, Helvetica, sans-serif;
  font-size:11px;
  margin:0
}
h4{
  /* font-family:'IBM Plex Mono',monospace; */
  font-family: myHaasLit, Helvetica, sans-serif;
  /* text-decoration: underline; */
  text-transform: uppercase;
  font-size:16px;
  text-align:left;
  color:#fff;
  margin:0;
  margin-top:10px;
  padding-bottom:5px;
}
h5{
  /* font-family:'IBM Plex Mono',monospace; */
  font-family: myHaasLit, Helvetica, sans-serif;
  font-style:italic;
  font-size:14px;
  text-align:left;
  color:#000;
  margin:0;
  margin-left:5px;
  margin-bottom:5px
}
.titleh2{
  background-color:#00f;
}

.module p{
  /* font-family:'IBM Plex Mono',monospace; */
  font-family: myHaasReg, Helvetica, sans-serif;
  font-style:italic;
  color:#00f;
  font-size:10px;
  margin-bottom:0;
  margin-top:0
}
input[type=color]{
  border:1px solid #000;
  outline:0;
  margin:0;
  padding:0;
  width:120px;
  height:20px
}
input[type=color]::-webkit-color-swatch-wrapper{
  padding:0
}
input[type=color]::-webkit-color-swatch{
  border:none
}
.module2{
  padding-bottom:10px;
  width:130px
}
p{
  /* font-family:'IBM Plex Mono',monospace; */
  font-family: myHaasLit, Helvetica, sans-serif;
  font-size:11px;
  color:#fff;
  text-align:left;
  padding-top: 10px;
  margin:10px;
  margin-top:0;
  border-top: 0.5px solid #ffffff;
}
button{
  width:180px
}
input[type=radio]{
  margin-left:0
}
input[type=checkbox]{
  margin:0
}
.coupling1c {
  margin:5px;
  margin-bottom:0;
  margin-left:0;
  display:flex;
  flex-direction:row;
}
.coupling1c label{
  /* font-family:'IBM Plex Mono',monospace; */
  font-family: myHaasLit, Helvetica, sans-serif;
  font-size:12px;
}
.coupling1{
  display:flex;
  flex-direction:row;
  margin-top:5px;
}
.coupling1b{
  display:flex;
  flex-direction:row;
  padding-top:8px;
  padding-bottom:5px;
  margin-left:5px
}
.couplingEntry1{
  width:90px;
}
.couplingEntry1 label{
  /* font-family:'IBM Plex Mono',monospace; */
  font-family: myHaasLit, Helvetica, sans-serif;
  font-size:11px;
}

.couplingEntry2{
  width:90px
}
.image0{
  width:195px;
  height:30px;
  display:flex;
  color:transparent
}
.coupling2{
  display:flex;
  flex-direction:column;
  padding-bottom:10px
}
.couplingSet{
  display:flex;
  flex-direction:column;
  font-family: myHaasLit, Helvetica, sans-serif;
  font-size:11px;
  color:#fff;
  text-align:left;
  padding-top: 10px;
  margin:10px;
  margin-top:0;
  border-top: 0.5px solid #ffffff;
}
label{
  /* font-family:'IBM Plex Mono',monospace; */
  font-family: myHaasLit, Helvetica, sans-serif;
  font-size:14px;
  margin-top:2px;
  margin-left:5px;
}
.coupling_label {
  display:flex;
  flex-direction: row;
}
div.coupling_label{
  padding-right:10px;
  width:60px
}
div.module{
}
#recStatus{
  display:none;
  margin-top:-5px;
  padding-top:7px;
  padding-bottom:1px;
  background-color:red
}
#widget{
  display:block
}
.switch{
  position:absolute;
  bottom:10px;
  left:10px;
  transform:translate(0,0);
  display:inline-block;
  width:38px;
  height:20px
}
.switch input{
  opacity:0;
  width:0;
  height:0
}
.slider{
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#ccc;
  -webkit-transition:.4s;
  transition:.4s
}
.slider:before{
  position:absolute;
  content:"";
  height:16px;
  width:16px;
  left:2px;
  bottom:2px;
  background-color:#fff;
  -webkit-transition:.4s;
  transition:.4s
}
input:checked+.slider{
  background-color:#00f
}
input:focus+.slider{
  box-shadow:0 0 1px #00f
}
input:checked+.slider:before{
  -webkit-transform:translateX(18px);
  -ms-transform:translateX(18px);
  transform:translateX(18px)
}
.slider.round{
  border-radius:20px
}
.slider.round:before{
  border-radius:50%
}
.popup{
  /* font-family:'IBM Plex Mono',monospace; */
  font-family: myHaasReg, Helvetica, sans-serif;
  font-size:10px;
  margin-top:-5px;
  padding-bottom:5px;
  color:#fff;
  text-align:center;
  text-decoration:underline;
  position:relative;
  cursor:pointer
}
.popup .show{
  visibility:visible;
  -webkit-animation:fadeIn 1s;
  animation:fadeIn 1s
}
@-webkit-keyframes fadeIn{
  from{
      opacity:0
  }
  to{
      opacity:1
  }
}
@keyframes fadeIn{
  from{
      opacity:0
  }
  to{
      opacity:1
  }
}

input.fileInput {
  width:180px;
}
.fileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.fileInput::before {
  width:178px;
  height:20px;
  text-align:center;
  content: 'UPLOAD IMAGE...';
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 2px;
  padding-top:5px;
  margin:0;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}
.fileInput:hover::before {
  border-color: black;
}
.fileInput:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.uploadSpan {
  /* font-family:'IBM Plex Mono',monospace; */
  font-family: myHaasReg, Helvetica, sans-serif;
  font-size:12px;
  text-align:center;
  color:#000;
  margin:0;
  margin-top:5px;
  padding-bottom:5px;
  height:5px;
}

.holdSpan {
  /* font-family:'IBM Plex Mono',monospace; */
  font-family: myHaasLit, Helvetica, sans-serif;
  font-size:10px;
  text-align:center;
  color:#fff;
  margin:0;
  padding-bottom:5px;
  padding-left:10px;
  height:5px;
}

#headineBlockColor{
  display:flex;
}
#uploadedBkgdImage {
  display:none;
}
#uploadedTrailImage {
  display:none;
}
#imageTrailSettings {
  display:block;
}
#headlineTrailSettings {
  display:none;
}

#colorBkgdSettings {
  padding-top:5px;
  display:block;
}
#imageBkgdSettings {
  padding-top:5px;
  display:none;
}

a {
  color:white;
}

div#p5_loading {
  font-family: myHaasLit, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align:center;
  font-size:16px;
  color:#00f;
  top:50%;
  left:50%;
  /* transform:translate(50%,50%); */
}